[submodule "milo-project-templates/milo/newprojecttemplate"]
	path = milo-project-templates/milo/newprojecttemplate
	url = https://github.com/VMironiuk/newprojecttemplate.git
	branch = qtcwizard
[submodule "milo-project-templates/milo/mconfig"]
	path = milo-project-templates/milo/mconfig
	url = https://github.com/VMironiuk/mconfig.git
	branch = qtcwizard
[submodule "milo-project-templates/milo/mcharts"]
	path = milo-project-templates/milo/mcharts
	url = https://github.com/VMironiuk/mcharts.git
	branch = qtcwizard
[submodule "milo-project-templates/milo/mlog"]
	path = milo-project-templates/milo/mlog
	url = https://github.com/VMironiuk/mlog.git
	branch = qtcwizard
[submodule "milo-project-templates/milo/mrestapi"]
	path = milo-project-templates/milo/mrestapi
	url = https://github.com/VMironiuk/mrestapi.git
	branch = qtcwizard
[submodule "milo-project-templates/milo/msentry"]
	path = milo-project-templates/milo/msentry
	url = https://github.com/VMironiuk/msentry.git
	branch = qtcwizard
[submodule "milo-project-templates/milo/mcrypto"]
	path = milo-project-templates/milo/mcrypto
	url = https://github.com/VMironiuk/mcrypto.git
	branch = qtcwizard
[submodule "milo-project-templates/milo/mbarcodescanner"]
	path = milo-project-templates/milo/mbarcodescanner
	url = https://github.com/VMironiuk/mbarcodescanner.git
	branch = qtcwizard
[submodule "milo-project-templates/milo/mscripts"]
	path = milo-project-templates/milo/mscripts
	url = https://github.com/VMironiuk/mscripts.git
