[submodule "milo-project-templates/milo/newprojecttemplate"]
	path = milo-project-templates/milo/newprojecttemplate
	url = https://github.com/VMironiuk/newprojecttemplate.git
	branch = qtcwizard
[submodule "milo-project-templates/milo/mconfig"]
	path = milo-project-templates/milo/mconfig
	url = https://github.com/VMironiuk/mconfig.git
	branch = qtcwizard
[submodule "milo-project-templates/milo/mcharts"]
	path = milo-project-templates/milo/mcharts
	url = https://github.com/VMironiuk/mcharts.git
	branch = qtcwizard
[submodule "milo-project-templates/milo/mlog"]
	path = milo-project-templates/milo/mlog
	url = https://github.com/VMironiuk/mlog.git
